@font-face
{
	font-family:'Roboto';
	src:url("../../fonts/Roboto/Roboto-Regular.ttf");
		font-style:normal;font-weight:normal;
}

@font-face
{
	font-family:'Roboto';
	src:url("../../fonts/Roboto/Roboto-Bold.ttf");
		font-style:normal;font-weight:bold;
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');




